.vscode/
bin/
obj/
test-cases/
trace/
tracer/obj-intel64/
tracer/quick_make.sh
test.*
trace.v1(deprecated)/
result/
build/
Makefile(deprecated)
perf-test/
perf-test(deprecated)/
asm/
syf-test/
tmp/
mcf_with_roi_syf/